<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../style/styles.css" />
        <link rel="icon" href="../assets/favicon.jpg" type="image/png" sizes="16x16">
        <meta name="keywords" content="grafik, projektowanie logo, logotypy, design, branding, kreatywny grafik, indywidualne projekty, firma, loga, graphic designer, logo design, custom logos, branding, corporate identity, visual identity, creative design, brand identity, business logos, professional graphic designer, unique logos, company logo, visual branding, brand development, logo creation, graphic design services">
        <script src="/merch.js"></script>
        <script src="/designs.js"></script>
    </head>
    <body>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer2.njk' %}

</body>
</html>