<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/style/styles.css" />
        <link rel="icon" href="../assets/favicon.jpg" type="image/png" sizes="16x16">
        <meta name="keywords" content="grafik, projektowanie logo, logotypy, design, branding, kreatywny grafik, indywidualne projekty, firma, loga, graphic designer, logo design, custom logos, branding, corporate identity, visual identity, creative design, brand identity, business logos, professional graphic designer, unique logos, company logo, visual branding, brand development, logo creation, graphic design services">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="I'm an illustrator based in Poland. Over the last decade, I've been working with and selling my premade designs to hundreds of clients from all over the world.">
        <script src="/merch.js"></script>
        <script src="/designs.js"></script>
    </head>
    <body>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

</body>
</html>