                <div class="design-box">
                    <h2 class="design-name"><a
                            href="https://www.behance.net/gallery/182789859/71-SKULL-ILLUSTRATION-DESIGN-FOR-SALE"
                            target="blank" data-title="Press for more info">#71 Skull</a></h2>
                    <img class="main-image" src="../designs/71_SKULL_MAIN_PION.jpg" alt="Design 1" loading="lazy" />
                    <div id="modal1" class="modal">
                        <span class="close" id="close1">&times;</span>
                        <div class="modal-content">
                            <img src="../designs/71_SKULL_MAIN_PION.jpg" alt="Design 1 - Photo 1" loading="lazy" />
                            <img src="../designs/71_skull_mockup1.jpg" alt="Design 1 - Photo 2" loading="lazy" />
                            <img src="../designs/71_skull_mockup2.jpg" alt="Design 1 - Photo 3" loading="lazy" />
                        </div>
                    </div>
                </div>