---
title: Kacper Gilka Art
layout: 'base2.njk'
---
<main class="index-main">
    <h1>Kacper Gilka Art</h1>
    <h2>I'M ILLUSTRATOR BASED IN POLAND.
        OVER LAST DECADE I WAS WORKING
        WITH AND SELLING MY PREMADE DESIGNS
        TO HUNDREDS OF CLIENTS FROM ALL OVER
        THE WORLD. BANDS, BREWING COMPANIES,
        CLOTHING BRANDS, BOOK AUTHORS
        AND PUBLISHING HOUSES, INDIVIDUAL CLIENTS
        AND MANY MORE.
    </h2>
    <h3>MY ILLUSTRATIONS WERE ALSO PUBLICATED
        IN BOOKS RELEASED BY OUT OF
        STEP BOOKS AND HEAVY MUSIC ARTWORK
    </h3>
</main>

