<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../style/styles.css" />
        <link rel="icon" href="../assets/favicon.jpg" type="image/png" sizes="16x16">
        <script src="/merch.js"></script>
        <script src="/designs.js"></script>
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    </head>
    <body>

    {% include 'header.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}

        <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

</body>
</html>