---
layout: 'base.njk'
---
<h1 style="text-align: center; font-size: 64px;"><a href="{{ description }}" target="_blank">{{ title }}</a></h1>


{% if gallery %}
<div class="gallery">
    <a href="{{ description }}" target="_blank"><img src="{{ image }}" alt="{{ imageAlt }}"></a>
    {% for item in gallery %}
    <div class="gallery-item">
        <a href="{{ description }}" target="_blank"><img src="{{ item.image }}" alt="{{ item.caption }}" class="gallery-image"></a>
    </div>
    {% endfor %}
</div>
{% endif %}