---
title: Kacper Gilka Art - Clients
layout: 'base.njk'
---
            <main>
                <h1>Kacper Gilka Art Clients</h1>
                <div class="logos">
                    <img src="../clients/sylosis.png" />
                    <img src="../clients/epica.png" />
                    <img src="../clients/fit for an autopsy.png" />
                    <img src="../clients/seafret.png" />
                    <img src="../clients/hma-logo.png" />
                    <img src="../clients/md_logo.png" />
                    <img src="../clients/caliban.png" class="caliban" />
                </div>
            </main>
