---
title: Kacper Gilka Art - Contact
layout: 'base2.njk'
---
            <main class="contact-main">
                <div class="text-box">
                    <h1>Contact</h1>
                    <h2>If you're interested in purchasing any of my premade designs or
                     you would like to order a custom design - feel free to
                      contact me through my social media (<a href="https://www.facebook.com/KGDesignArt" target="blank">Facebook</a>,<a href="https://www.instagram.com/kacpergilkaart/" target="blank"> Instagram</a>) or 
                     (preffered)<a href="mailto:kacpergilka@gmail.com"> kacpergilka@gmail.com</a>
                    </h2>
                    <h2>If it comes to custom designs, please describe what you're
                     interested in, your budget for the project etc - as much
                     info as possible is more than welcome 🙂
                    </h2>
                </div>
            </main>

